@(ra: RoomieAgreement)

@main("Welcome to Play") {

<div class="container-fluid" style="margin-top:60px">
	<div class="row">
		
		<div class="col-md-2">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#">My Activities</a></li>
				<li><a href="#">All Activities</a></li>
				<li><a href="#">Group3</a></li>
				<li><a href="#">Group4</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<h2 class="sub-header">Dashboard for @ra.agreementName</h2>
			<a class="btn btn-lg btn-primary" href="#" id="shopId" role="button">Shop</a>
			<a class="btn btn-lg btn-primary" href="#" id="addActivityId" role="button">Add Activity</a>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Users</th>
						<th>Tasks</th>
					</tr>
				</thead>
				<tbody>
					@for(user <- ra.roomies) {
						@for(task <- user.tasks) {
							<tr>
								<td>1002</td>
								<td>@user.usename</td>
								<td>@task.name</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
		<!-- end main dashboard column -->
		<!-- left status column -->
		<div class="col-md-2">
			<h3 class="sub-header">Group Details</h3>
			<ul class="nav nav-sidebar">
				@for(user <- ra.roomies) {
					<li class="active"><a href="#">@user.usename</a></li>	
				}
			</ul>
		</div>
	</div>	
</div>
}
