@(message: String)

@main("Welcome to Play") {
<div class="modal fade" id="sheldonModel" width="800px" height="1000px">
	<div class="modal-dialog">
		<div class="modal-content" style="width:340px; margin-left:100px">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"> Roomate Agreement !!! </h4>
			</div>
			<div class="modal-body">
				<img src="@routes.Assets.at("imagesTRA.jpg")" height="500px" width="300px"/>
			</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
	$("#sheldonModel").modal("show");
</script>
}