@(activityForm: Form[Activity])

<div class="modal fade" id="activityModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"> Have your roomate do shit !!! </h4>
			</div>
			<div class="modal-body">
				@import helper._
				@import helper.twitterBootstrap._

				@helper.form(action = routes.Activities.save()){
				<fieldset>
					<legend>Activity (@activityForm("name").valueOr("New"))</legend>
					@helper.inputText(activityForm("name"), '_label -> "Name")
					@helper.inputText(activityForm("evidence"), '_label -> "evidence")
					@helper.inputText(activityForm("karmaPoints"), '_label -> "karmaPoints")
				</fieldset>
				<input type="submit" class="btn btn-primary" value="Save">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			}
	</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
