@(documentForm: Form[Document])

<div class="modal fade" id="documentModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Show your roommate you came thru  !!! </h4>
			</div>
			<div class="modal-body">
				@import helper._
				@import helper.twitterBootstrap._
				@helper.form(action = routes.Documents.newDocument(), 'enctype -> "multipart/form-data") {
    <input type="hidden"  name="taskId" id="taskId">
    <div id="dropboxFileChooser"/>
    <script>
    	options = {

    // Required. Called when a user selects an item in the Chooser.
    success: function(files) {
		$("#dropboxFileChooser").append("<img src=" + files[0].link + "/>");
        // alert("Here's the file link: " + files[0].link)
    },

    // Optional. Called when the user closes the dialog without selecting a file
    // and does not include any parameters.
    cancel: function() {

    },

    // Optional. "preview" (default) is a preview link to the document for sharing,
    // "direct" is an expiring link to download the contents of the file. For more
    // information about link types, see Link types below.
    linkType: "preview", // or "direct"

    // Optional. A value of false (default) limits selection to a single file, while
    // true enables multiple file selection.
    multiselect: false, // or true

    // Optional. This is a list of file extensions. If specified, the user will
    // only be able to select files with these extensions. You may also specify
    // file types, such as "video" or "images" in the list. For more information,
    // see File types below. By default, all extensions are allowed.
    extensions: ['.jpg', '.png', '.gif'],
};

    	var button = Dropbox.createChooseButton(options);
		document.getElementById("dropboxFileChooser").appendChild(button);
		// $("#dropboxFileChooser").on("click", function(){
		// 	Dropbox.choose(options);
		// });
		
    </script>
    <input type="file" name="picture">
    
    <p>
        <input type="submit">
    </p>
    
}
			
	</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
