@(documentForm: Form[Document])

<div class="modal fade" id="documentModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Show your roommate you came thru  !!! </h4>
			</div>
			<div class="modal-body">
				@import helper._
				@import helper.twitterBootstrap._
				@helper.form(action = routes.Documents.newDocument(), 'enctype -> "multipart/form-data") {
    <input type="hidden"  name="taskId" id="taskId">			
    <input type="file" name="picture">
    
    <p>
        <input type="submit">
    </p>
    
}
			
	</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
